# =================================================================
# הסבר: קובץ זה נועד להגיד ל-Git מאילו קבצים ותיקיות להתעלם.
# מנענו מהקבצים הזמניים של פייתון לעלות ל-GitHub כדי לא ללכלך את המאגר.
# =================================================================

# התעלמות מתיקיית הזיכרון הזמני שנוצרת אוטומטית בהרצה
__pycache__/

# התעלמות מכל הקבצים הבינאריים המקומפלים של פייתון
*.pyc

# =================================================================
# תזכורת לפקודות שהרצנו בטרמינל כדי להפעיל את המערכת בלוקאל:
# 1. הפעלת בסיס הנתונים בדוקר: docker compose up -d
# 2. הרצת הממשק הגרפי בווינדוס: py main.py
# =================================================================